.imgCtn {
	background-color: #fff;
	width: fit-content;
	border-radius: 1rem;
	border: 3px solid #333;
	display: block;
	margin: auto;
}

.imgCtn img {
	border-radius: 1rem;
	margin-left: 0.6rem;
	display: block;
}

.cards {
	background-color: #00c689;
	border: 3px solid #fff;
	border-radius: 1rem;
    padding-bottom: 1rem;
}

.txt {
	margin: 0 1rem;
}

.txt p {
	color: #333;
}

.txt span{
    border-radius: 0.5rem;
    display: block;
    color: #00c689;
    font-size: 1.5rem;
    margin: 1rem auto;
    background-color: #fff;
    width: fit-content;
    border: 2px solid #333;
    padding: 0.3rem 1rem 0.5rem;
}